# Tidy Data

## Summary 1
In this part we can find the introduction of the book or article in which we are told that 80% of the data analysis is wasted in the process of cleaning and preparing them and in turn they mention the principles of the data ordered. which provide us with a standard philosophy of organizing data values within a set of data and that said standard helps us when organizing such data, since, it is not necessary to start from scratch and in turn it is designed to facilitate the initial exploration and data analysis, and to simplify the development of data analysis tools that work well together.
On the other hand they mention that the principles of the ordered data are closely related to those of the relational databases and the relaconal algebra of Codd, but they are framed in a familiar language for the statisticians and finally they mention something of the content of the document .
## Summary 2
In this part we can find the definition of the ordered data as well as other sub-themes in which we can find the data structure, in this sub-theme they indicate that most of the statistical data sets are rectangular tables formed by rows and columns (columns are almost always labeled and rows are sometimes labeled). Then they give us an example of the aforementioned so that they show us another one the same example but with a different design from the previous one and in turn they mention that in addition to the appearance, we need a way to describe the underlying semantics, or meaning, of the values shown in the table.
On the other hand they show us another subpoint called data sematics in which they mention that a data set is a collection of values, usually numbers (if it is quantitative) or strings (if it is qualitative). Later they tell us the two ways in which the values are organized and give us an example of each one, then they mention the experimental design which tells us more about the structure of the observations and an example of it.
And as the last subpoint we return to the main theme which is the definition of the ordered data and they mention that these are a standard way of mapping the meaning of a set of data to its structure. subsequently they mention that each variable forms a column, each observation forms a row and that each type of observation unit forms a table. also in this same part they mention us that the ordered data facilitates that an analyst or a computer extracts the necessary variables because it provides a standard way to structure a set of data and that although the order of the variables and the observations does not affect the analysis, A good order makes it easy to scan gross values.
## Summary 3
In the third topic he talks about how to order disordered data sets, there are 5 common problems that arise in the database of disordered data, which are that the column headings are values, also that multiple variables are stored in a column, that variables are stored in rows and columns, just as multiple types of observation units are stored in the same table, and that a single observation unit is stored in several tables

In [24]:
import pandas as pd
import numpy as np

In [19]:
pew = pd.read_csv('~/Dropbox/Big Data/prueba.tsv', sep='\t')

In [20]:
pew

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Donâ€™t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [27]:
pew_tidy = gather(data = pew, income, frequency, -religion)

SyntaxError: positional argument follows keyword argument (<ipython-input-27-1a640d452562>, line 1)